/* 
* Scaffold v0.1.0
* Copyright 2011, James Aitken
* Based on Skeleton, HTML 5 Boilerplate, & Eric Meyers Reset
* http://getskeleton.com
* http://html5boilerplate.com/
* http://opensource.org/licenses/mit-license.php
*/



html, body, body div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }










/* Set sub, sup without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre {
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  /* https://github.com/paulirish/html5-boilerplate/commit/ce120b5902cdf3c9ba4936fae6f222c405fc01b0 */
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin-bottom: 20px;
}






/* Paragraph Styles */

p {
  margin: 0 0 20px 0;
}

p img {
  margin: 0;
}

em {
  font-style: italic;
}
small {
  font-size: 80%;
}

b, strong { font-weight: bold; }

/* Normalize monospace sizing:
   en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre, code, kbd, samp { font-family: monospace, sans-serif; }


/* Tables */

table { border-collapse: collapse; border-spacing: 0; }
th { font-weight: bold; }
td { vertical-align: top; }



/* #Links
================================================== */
a, a:visited {
  color: #333;
  text-decoration: underline;
}
a:hover, a:focus {
  color: #000;
}
p a, p a:visited {
  line-height: inherit;
}

/* j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99; }

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }





    
/* #Basic Styles
================================================== */
/* Set an even line-height - it's approx 1.42em as opposed to 1.5em, which is a bit large for narrower columns */

/* 1) Always force a scrollbar in non-IE 
   2) Remove iOS text size adjust without disabling user zoom: www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  background: #fff;
  font: 14px/20px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
}


/* #Typography
================================================== */
/* Follow a more traditional typographic scale */
/* Turn on proper kerning too */
h1, h2, h3, h4, h5, h6 {
  color: #181818;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}

h1 {
  font-size: 46px;
  line-height: 50px;
  margin-bottom: 10px;
}
h2 {
  font-size: 36px;
  line-height: 55px;
  margin-bottom: 5px;
}
h3 {
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 6px;
}
h4 {
  font-size: 21px;
  line-height: 40px;
}
h5 {
  font-size: 18px;
  line-height: 40px;
}
h6 {
  font-size: 14px;
  line-height: 20px;
}
hr {
  display: block;
  border: solid #ccc;
  border-width: 1px 0 0;
  clear: both;
  margin: 0 0 19px 0;
  height: 0;
}


/* #Lists
================================================== */

ul, ol {
  margin: 0 0 20px 30px;
}

ul {
  list-style: disc outside;
}

ol {
  list-style: decimal outside;
}

li, li p {
  line-height: 20px;
  margin-bottom: 10px;
}

/* Remove margins for navigation lists */
.nav ul, .nav li { margin: 0; list-style:none; list-style-image: none; }



/* #Images
================================================== */
/*
The purpose of the below declaration is to make sure images don't
exceed the width of columns they are put into when resizing window.
Unfortunately, this declaration breaks certain lightbox, slider or other plugins,
so the best solution is to individually call these properties on images that
are children of the grid that you want to resize with grid.
*/

img {
  max-width: 100%;
  height: auto;
}

/* Bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }






/* Boilerplate Forms & Buttons */
.ie6 legend, .ie7 legend { margin-left: -7px; } 

/* 1) Make inputs and buttons play nice in IE: www.viget.com/inspire/styling-the-button-element-in-internet-explorer/
   2) WebKit browsers add a 2px margin outside the chrome of form elements. 
      Firefox adds a 1px margin above and below textareas 
   3) Set font-size to match <body>'s, and font-family to sans-serif 
   4) Align to baseline */
button, input, select, textarea { width: auto; overflow: visible; margin: 0; font-size: 100%; font-family: sans-serif; vertical-align: baseline; }

/* 1) Remove default scrollbar in IE: www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/
   2) Align to text-top */
textarea { overflow: auto; vertical-align:text-top; }

/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }



/* #Buttons
================================================== */

/* Normalize padding between browsers */
input::-moz-focus-inner,
button::-moz-focus-inner { border: 0; padding: 6px 1px;  }

a.button img,
button img {
  vertical-align: middle;
  margin: -5px 0 0 -3px;
  padding: 0;
}



a.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  background: #fff; /* In case we are not on a white background */
  background: #eee; /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(0,0,0,.2))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* IE10+ */
  background: linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* W3C */
  border: 1px solid #888;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #444;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px rgba(255, 255, 255, .75);
  cursor: pointer;

  /* Gives a height of 28px including borders */
  padding: 0 10px;
  line-height: 26px;
  margin: 0 0 0 0;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  color: #222;
  background: #eee; /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(0,0,0,.3) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.3)), color-stop(100%,rgba(0,0,0,.3))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* IE10+ */
  background: linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* W3C */
  border: 1px solid #666;
  border-top: 1px solid #888;
  border-left: 1px solid #888;
}

a.button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
  background: #eee; /* Old browsers */
  background: -moz-linear-gradient(top, rgba(0,0,0,.3) 0%, rgba(255,255,255,.3) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,.3)), color-stop(100%,rgba(255,255,255,.3))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,0,0,.3) 0%,rgba(255,255,255,.3) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,0,0,.3) 0%,rgba(255,255,255,.3) 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, rgba(0,0,0,.3) 0%,rgba(255,255,255,.3) 100%); /* IE10+ */
  background: linear-gradient(top, rgba(0,0,0,.3) 0%,rgba(255,255,255,.3) 100%); /* W3C */
  border: 1px solid #666;
  border-bottom: 1px solid #888;
  border-right: 1px solid #888;
}

/* When done on a link in a para, need to keep it on the baseline grid */
p a.button {
  margin-top: 6px;
  margin-bottom: 6px;
}






/* #Forms
================================================== */

/* Submit buttons are 28px high, and usually at the bottom of a form 
   So to keep it on the grid, we need +12px = 40px total height */
form {
  margin-bottom: 12px;
}

fieldset {
  margin-bottom: 20px;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
  border: 1px solid #aaa;
  padding: 0 4px;
  outline: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
  margin: 0;
  max-width: 100%;
  min-width: 220px;
  display: block;
  margin-bottom: 12px;
  background: #fff;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #888;
  color: #444;
  -moz-box-shadow: 0 0 3px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.3);
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
}

/* this height is 3 lines, plus 1px top and bottom border */
textarea {
  min-height: 78px;
}

label,
legend {
  display: block;
  font-weight: bold;
  font-size: 13px;
}

/* Items with labels wrapped around them */
label span,
legend span {
  font-weight: normal;
  font-size: 13px;
  margin: 0;
  padding: 0;
  line-height: 19px;
  color: #444;
}

input[type="checkbox"] {
  display: inline;
}



/* Normalize padding between browsers */

input[type="text"],
input[type="password"],
input[type="email"] {
  height: 26px;
}


textarea {
  padding-top: 4px;
  padding-bottom: 4px;
  line-height: 20px;
}

/* Webkit has it's own styles that can't be overridden. They look better anyway
So we just make the text line up to the baseline, the select appears in the middle of the line */
select {
  padding: 0;
  margin-top: 4px;
  margin-bottom: 16px;
}


/* For multi selects, set size=2 in the html, and style the height in CSS
 This is because webkit / gecko render size=2+ differently (gecko is always one "row" ahead of webkit)
 WebKit cannot style contents of selects easily, so cannot set the line-height
 Doing it the CSS way means we can stick to the baseline grid */
select.multiple {
  height: 80px;
}


/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
::-moz-selection { background: #fe57a1; color:#fff; text-shadow: none; }
::selection { background:#fe57a1; color:#fff; text-shadow: none; }











